/*** Project Meta ***/

/* general - line __ */

/* header - line __ */

/* main content - line __ */

/* footer - line __ */

/** GENERAL **/

/* :root {
  --font-family: 'Jaldi', sans-serif;
  --sdry-family: 'Lora', serif;
  --mid-fsize: 1.5rem;
  --top-hierarchy: rgb(49, 49, 49);
  --mid-hierarchy: rgb(77, 77, 77);
  --bot-hierarchy: rgb(139, 139, 139);
  --content-color: #fff;
} */

/* #FFDD33 yellow
#FF4422 orange
#00CCCC green
#FFEBE7 light orange */


html {
  font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
  font-size: 87.5%;
}

body {
  background-color: white;
  position: relative;
  margin: 0;
  padding: 0;
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/** header **/

.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tnw {
  background-color: black;
}

.nav1 .tnw .tnw-img {
  width: 7.5714rem;
  padding: 1.2rem 1.4rem 0.9rem 1.4rem;
}

.nav1  .tnw-nav .tnw-ul {
  /* display: inline-block; */
}

.nav1 .search,
.nav1 .ham {
  display: inline-block;
  border-left: 1px solid #000;
  padding: 1.05rem 1.25rem;
}

.nav1 .sea {
  width: 1.2rem;
}

.nav2 {
  background-color: #ffdd33;
  text-align: center;
  padding: 1.4rem;
}

.cover-story {
  display: grid;
  grid-template-rows: ;
}

.main {
  
}