/*** Project Meta ***/

/* general - line __ */

/* header - line __ */

/* main content - line __ */

/* footer - line __ */

/** GENERAL **/

/* :root {
  --font-family: 'Jaldi', sans-serif;
  --sdry-family: 'Lora', serif;
  --mid-fsize: 1.5rem;
  --top-hierarchy: rgb(49, 49, 49);
  --mid-hierarchy: rgb(77, 77, 77);
  --bot-hierarchy: rgb(139, 139, 139);
  --content-color: #fff;
} */

/* #FFDD33 yellow
#FF4422 orange
#00CCCC green
#FFEBE7 light orange */


html {
  font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
  font-size: 87.5%;
}

body {
  background-color: white;
  position: relative;
  margin: 0;
  padding: 0;
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media screen and (max-width: 767px) {

/** header **/

.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tnw {
  background-color: black;
}

.nav1 .tnw .tnw-img {
  width: 7.5714rem;
  padding: 1.2rem 1.4rem 0.9rem 1.4rem;
}

.nav1  .tnw-nav .tnw-ul {
  /* display: inline-block; */
}

.nav1 .search,
.nav1 .ham {
  display: inline-block;
  border-left: 1px solid #000;
  padding: 1.05rem 1.25rem;
}

.nav1 .sea {
  width: 1.2rem;
}

.nav2 {
  background-color: #ffdd33;
  text-align: center;
  padding: 1.4rem;
}

.cover-story {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 12.95rem);
  margin: 0 0.2857rem;
}

  /* background-image: url(photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: #ccc; */

.cover-story .one {
  background: url(../images/bolt-walking-service-app-zero-emissions-day-car-uber-lyft-walk-796x448.jpg) 100% 100% no-repeat;
}

.cover-story .two {
  background: url(../images/bolt-walking-service-app-zero-emissions-day-car-uber-lyft-walk-796x448.jpg) 100% 100% no-repeat;
}

.cover-story .three {
  background: url(../images/bolt-walking-service-app-zero-emissions-day-car-uber-lyft-walk-796x448.jpg) 100% 100% no-repeat;
}

.align {
  margin: 0 1.4285rem;
  padding-top: 1.7142rem;
}

.crowd-img {
  width: 100%;
}

.latest-flex {
  display: flex;
  flex-direction: row;
}

.latest-flex .news {
  display: flex;
  flex-direction: column;
}


}